@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.navbar {
 
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

    .navbar h1 {
        border-radius: 5px;
        background-color: blueviolet;
        color: beige;
    }

    .navbar .links {
        margin-left: auto;
    }

    .navbar a {
        border-radius:100px;
        background-color:blueviolet;
        color:beige;
        margin-left: 16px;
        text-decoration: none;
        padding: 6px;
    }

        .navbar a:hover {
            color: #ffa500;
        }

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}
.blog-preview{
    padding: 10px 17px;
    border-radius:10px;
    color:fuchsia;
}
.blog-preview:hover{
    box-shadow:1px 3px 5px blueviolet;
}
.blog-preview h2{
    border-bottom:double;
    font-size:15px;
    color:darkkhaki;
    margin-bottom:8px;
}