@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.navbar {
 
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

    .navbar h1 {
        background-color: blueviolet;
        color: beige;
    }

    .navbar .links {
        margin-left: auto;
    }

    .navbar a {
        border-radius:100px;
        background-color:blueviolet;
        color:beige;
        margin-left: 16px;
        text-decoration: none;
        padding: 6px;
    }

        .navbar a:hover {
            color: #ffa500;
        }

.title-home{
    text-align: left;
    margin: 1px 17px;
    text-decoration-line: underline;

}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}
.blog-preview{
    padding: 10px 17px;
    border-radius:10px;
    color:fuchsia;
}
.blog-preview:hover{
    box-shadow:1px 3px 5px blueviolet;
}
.blog-preview h2{
    border-bottom:double;
    font-size:15px;
    color:darkkhaki;
    margin-bottom:8px;
}
.blog-preview a {
    text-decoration: none;
}
/* create new blog form */
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .create label {
    text-align: left;
    display: block;
  }
  .create h2 {
    box-sizing: border-box;
    border: 3px solid #ddd;
    background-color: black;
    font-size: 20px;
    color: #ffa500;
    margin-bottom: 30px;
  }
  .create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .create button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
  }

  .blog-details article {
    margin: 10px;
   
   
  }
  .blog-details h2 div button{
    border-radius: 30%;
    box-sizing: border-box;
  }